

body{
	background-color: #FFFFFF;
}
p{font-family: serif;
font-color:black;}

#first{
	color:brown;
	text-align: center;
	font-family: serif;
	font-style: italic;
}
#i{
	display: block;
	margin-right: auto;
	margin-left:auto;
}

.a{
	text-indent: 50px;
}